params {
    // COI method
    coi_method_options         = ["NAIVE_INT_METHOD", "NAIVE_QUANTILE_METHOD"]
    coi_method                 = "NAIVE_INT_METHOD"
    naive_coi_threshold        = 1

    // MLAF method
    mlaf_method_options        = ["MLBM"]
    mlaf_method                = "MLBM"

    // SLAF method
    slaf_method_options        = ["IDM"]
    slaf_method                = "IDM"
}