params {
    // MLAF method
    mlaf_method_options        = ["MLBM","FEM"]
    mlaf_method                = "MLBM"

    // SLAF method
    slaf_method_options        = ["IDM","naive","from_mlaf"]
    slaf_method                = "IDM"

    // COI method
    coi_method_options = ["NAIVE_INT_METHOD","NAIVE_QUANTILE_METHOD"]
    coi_method = "NAIVE_INT_METHOD"
}
